.eventButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
  }
.deleteButton {
    display: flex;
    justify-content: left;
}
.editButton {
  display: flex;
  justify-content: left;
}
.nextEvent {
  background-color: goldenrod;
  font-weight: bold;
}